
<%- include('partials/header.ejs') %>

<header>

   <article>
      <h2> Hey, <%= name %> </h2>
      <p> Ontdek kroegen in jouw buurt!</p>
   </article>

   <figure>
      <img src="/images/placeholder_profile.jpg" alt="">
   </figure>

</header>



<!-- Ontdekken -->
<main>

   <section>

      <h2>Kroegen</h2>
   
      <% bars.forEach(bar => { %>

      <form method="post" action="/discover/<%= bar._id %>">
           
         <article>
      
            <button type="submit"><img src="/images/filled_heart.svg" alt="like"></button>
      
            <figure> 
               <img src="<%= bar.imgUrl %>" alt="">
            </figure>

            <article>

               <div class="rating">
                  <img src="/images/rating_star.svg" alt="rating">
                  <p><%= bar.rating %></p>
               </div>

               <h3><%= bar.title %></h3>
               <p><%= bar.address %></p>

               <h4>Openingstijden:</h4>
               <p><%= bar.currentStatus %></p>
               
            </article>
      
         </article>
      </form>

      <% }); %>
   
   </section>
   
</main>


   
<%- include('partials/navigation.ejs') %>