<header>
  <article>
    <h2>Barren in Amsterdam</h2>
    <figure></figure>
  </article>
</header>

<body>
  <main>
    <form action="/">
        <button type="submit"><--</button>
    </form>
    <!-- Cards met barren -->
    <% likedBars.forEach(likedBar => { %>
    <h1><%= likedBar.title %></h1>
    <h5><%= likedBar.address %></h5>
    <h5><%= likedBar.plusCode %></h5>
    <a><%= likedBar.placeUrl %> </a>
    <p><%= likedBar.website %></p>
    <p><%= likedBar.phoneNumber %></p>
    <p><%= likedBar.rating %></p>
    <h2><%= likedBar.category %></h2>
    <h3><%= likedBar.attributes %></h3>
    <p><%= likedBar.currentStatus %></p>
    <p><%= likedBar.reviewCount %></p>
   
    <% }); %>
  </main>
</body>
